{% load static %}
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'first_app/CSS/main.css' %}">
</head>
<body>
    <h1>Here are your access records</h1>
    {% if access_records %}
<table>
  <tr>
    <th>Site Name</th>
    <th>Data Accessed</th>
  </tr>
  {% for record in access_records %}
  <tr>
    <td>{{ record.name }}</td>
    <td>{{ record.date }}</td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>No accesses records found </p>
{% endif%}


</body>
</html>