
div {
  
  font-family: verdana;
  font-size: 20px;
  text-align: center;
  margin-top: 190px;
  margin-left: auto;
  margin-right: auto;
    padding: 20px;
    width: 700px;
}

body {
  background-color: #d7e8eb;

}

img {
  border-style:dashed;
  border-color: black;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
