.custom-navbar {
    background-color: #522d3b;
}

.custom-navbar .nav-link {
    color: white;
    padding: 15px 30px;
}

.custom-navbar  {
    padding: 15px 30px;
}

.item-ele {
    padding-left: 30px;
    padding-right: 30px;

}